@charset 'UTF-8';


@font-face {
  font-family:'Avenir' ;
  src: url('AvenirLTStd-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.container {
  width: 90%;
  margin: 0 auto;
}

.div-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgb(201, 194, 194);
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  gap: 3rem;
  height: 10rem;
  line-height: 2.18rem;
}

footer ul {
  list-style: none;
  align-items: center;
  font-size: 21px;
  color: black;
  font-weight: 600;
}

.li-footer-lighter {
  font-weight: 200;
}

.click-site-footer {
  font-weight: bolder;
  font-size: larger;
}

footer li {
  font-weight: normal;
  font-family: 'Avenir', sans-serif;
}

footer a {
  text-decoration: none;
  color: black;
}

.politicas {
  font-size: 15px;
  line-height: 25px;
}

.politicas-superior {
  margin-bottom: 20px;
}

.footer-link-criado {
  text-decoration: underline;
}
