@charset "UTF-8";


body{
    display: flex;
    background-color: #F3F3F3;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#image {
    display: flex;
}

.image-lobo{
    border-radius: 50%;
    width: 480px;
    height: 480px;
    margin-left: 190px;
    margin-right: 40px;
    margin-top: 150px;
}

.lobo{
    flex: 1;
}
#text {
    display: flex;
    margin-top: 120px;
    margin-bottom: 50px;
}

.area-text{
    flex: 1;  
}

.text1{
    font-size: 100px;
    margin-bottom: 30px;
}

.text3{
    text-align: justify;
    line-height: 25px;
    margin-right: 280px;
    margin-bottom: 40px;
}

#buttons{
    display: flex;
}

.button1{
    background-color: #eea302;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: solid 1px #0000006e;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.button2{
    background-color: #ff3619;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: solid 1px #0000006e;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.button3{
    background-color: #80d8da;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: solid 1px #0000006e;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.text-button{
    font-size: 21px;
    font-weight: bolder;
}

#buttons a{
    text-decoration: none;
    color: #000000;  
}

a :hover{
    background-color: #F3F3F3;
    transition: all 1s linear;
}