@charset 'UTF-8';

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
}
.container {
  width: 1600px;
  margin: 0 auto;
}

.div-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgb(201, 194, 194);
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  gap: 3rem;
  height: 10rem;
  line-height: 2.18rem;
}

footer ul {
  list-style: none;
  align-items: center;
  font-size: 21px;
  color: black;
  font-weight: 600;
}

.li-footer-lighter {
  font-weight: 200;
  
}

.click-site-footer {
  font-weight: bolder;
  font-size: larger;
}

footer li {
  font-weight: normal;
  font-family: sans-serif;
}

footer a {
  text-decoration: none;
  color: black;
}
.politicas {
  font-size: 15px;
  line-height: 25px;
}

.politicas-superior {
  margin-bottom: 20px;
}

.footer-link-criado {
  text-decoration: underline;
}
