.container-projects {

font-family:"Work Sans", sans-serif;
margin-left: 200px;
margin: 0px;
border-left: 100px;

}

.projects-title {
    justify-content: left ;
    font-size: 25px;
    height: auto;
    margin: 220px;
  
    
}

.project-one, .project-two, .project-three {
    justify-content: left ;
    font-size: 18px;
    margin-left: 220px;
  
}

.first-parag, .second-parag, .third-parag {
    width: 480px;
    margin-left: 220px;
    font-size: 20px;
    letter-spacing: normal;
        
}

.image-project1, .image-project2, .image-project3 {
    display: flex;
    width: 600px;
    margin-left: 1000px;
   
   
}

