.container-projects {
font-family:"Work Sans", sans-serif;
margin-left: 300px; 
width: 100%;
height: 100%;
position: relative;
}

.projects-title {
    display: flex;
    text-align: justify;
    justify-content: left ;
    font-size: 30px;
    height: 200px;    
}

.project-one, .project-two, .project-three {
    display: flex;
    text-align: justify;
    justify-content: left ; 
    font-size: 20px;
    height: 80px;
}

.first-parag, .second-parag, .third-parag {
    display: inline-block;
    font-size: 25px;
    width: 40%;
    height: 350px; 
}

.image-project1, .image-project2, .image-project3 {
    display: flex;
    width: 55%;
    float: right;  
}

