nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.4rem;
  font-size: 1.2rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav img.logo {
  width: 2.5rem;
}

nav .nav-content {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

nav .right-content {
  font-size: 1.1rem;
}

nav .right-content a:hover {
  color: rgb(150, 107, 54);
}

.link-with-border {
  border-left: 1px solid;
  padding-left: 1rem;
}
