.welcome-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 1400px;
  margin: auto;
  justify-content: center;
}

.image-wolf {
  border-radius: 50%;
  width: 100%;
  margin-top: 25%;
}


.container-descrition {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 15%;
  
}

.welcome-title {
  font-size: 100px;
  margin-bottom: 4%;
}

.welcome-description {
  text-align: justify;
  margin: auto;
}

.container-buttons {
  display: flex;
  font-size: 21px;
  font-weight: bolder;
  width: 100%;
  margin-top: 7%;
  margin-left: -5%;
  height: 140px;
  
}

.welcome-buttons {
  border-radius: 50%;
  border: solid 1px #0000006e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8%;
}

.resume-button {
  background-color: #eea302;
}

.projects-button {
  background-color: #ff3619;
  margin-left: 6%;
}

.contact-button {
  background-color: #80d8da;
  margin-left: 6%;
}

.container-buttons a {
  text-decoration: none;
  color: #000000;
}

.container-buttons a:hover {
  background-color: transparent;
  transition: all 0.4s linear;
}
