.welcome-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1400px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.container-wolf{
  margin-right: 20px;
}

.image-wolf{
  border-radius: 50%;
  width: 100%;
}

.container-descrition {
  flex: 1;
}

.welcome-title {
  font-size: 100px;
  margin-bottom: 20px;
}

.welcome-description {
  text-align: justify;
  width: 60%;
}

.container-buttons {
  display: flex;
  font-size: 21px;
  font-weight: bolder;
  min-height: 130px;
}

.welcome-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 1px #0000006e;
  padding: 3%;
}

.resume-button {
  background-color: #eea302; 
}

.projects-button {
  background-color: #ff3619;
  margin-left: 20px;
}

.contact-button {
  background-color: #80d8da;
  margin-left: 20px;
}

.container-buttons a {
  text-decoration: none;
  color: #000000;
}

.container-buttons a:hover {
  background-color: transparent;
  transition: all 0.4s linear;
}
